.BookList {
  background-color: inherit;
  grid-column: 1/2;
  grid-row: 2/7;
  display: flex;
  justify-content: center;
}

#List {
  overflow: scroll;
  background-color: rgb(0, 74, 111);
  text-overflow: inherit;
  line-height: 150%;
  color: white;
  margin-top: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
  padding-left: 40%;
  padding-right: 40%;
}